<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Vetenerian Page</title>
</head>
<body>

    <table class="table table-striped ">

        <thead>
            <tr>
                <th style="width: 150px">SId</th>
                <th style="width: 150px">FirstName</th>
                <th style="width: 150px">LastName</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}"></td>
                <td th:text="${vet.firstName}"></td>
                <td th:text="${vet.secondName}"></td>

            </tr>
        </tbody>
    </table>
</body>
</html>